.welcome-page {
  position: relative;

  width: 348px;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
}

.welcome-page__intro {
  position: absolute;
  top: 125px;
  left: 0;
}

.welcome-page__intro h1 {
  margin: 0;

  color: #1f1f1f;
  font-size: 26px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: -0.8px;
}

.welcome-page__intro h1 span {
  color: #298c50;
}

.welcome-page__intro p {
  margin: 5px 0 0;

  color: #666666;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}

.welcome-page__character {
  position: absolute;
  top: 232px;
  left: 50%;

  width: 200px;
  height: 232.13px;

  transform: translateX(-50%);
}

.welcome-page__character img {
  display: block;

  width: 200px;
  height: 232.13px;

  object-fit: contain;
}

.welcome-page__action {
  position: absolute;
  top: 454px;
  left: -2px;

  width: 352px;
}